body {
  background-image: url(../../assets/img/cuadrado.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 135%;
  background-size: 25%;
}

.container{
  max-width: 1440px;
}
header {
height: 18vh;  
 
}
main{
  height: 70vh;
}

/* This was made with GlassGenerator.netlify.app */

.content-space{
  width: 332px;
  height: 248px;
background: rgba(32, 36, 66, 0.5);
border-radius: 35px;
}
.content-space2{
  width: 332px;
  height: 171px;
background: rgba(32, 36, 66, 0.5);
border-radius: 35px;
}
.content-space3{
  width: 661px;
  height: 390px;
background: rgba(32, 36, 66, 0.5);
border-radius: 35px;
}

.form-label{
  
color: #F65164;
  font-size: 24px;
line-height: 33px;
}

.form-group {
  width: 200px;
}
.form-control {
  height: 53px;
  color: white!important;
  border: 2px solid transparent !important;
  border-radius: 10px !important;
  background: linear-gradient(#2d325a, #2d325a) padding-box,
    /*this is your grey background*/
      linear-gradient(
        113.59deg,
        #7033ff -23.09%,
        #4e7cff 1.36%,
        #f65164 102.09%
      )
      border-box !important;
}

.form-control1 {
  height: 230px;
  margin-bottom: 50px;

}

.form-control::-webkit-input-placeholder {
    color: white!important;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    
    display: inline-block;
    vertical-align: middle;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #7033ff;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}


.top-border-img{

  position: relative;
text-align: center;
}
.top-border-img svg{
  position: absolute;
  top: -50px;
  left: 40%;
}
.top-border-img svg:last-child{
  position: absolute;
  top: -37px;
  left: 45%;
}

.saveButton{
  padding: 15px 50px;
  background: #F65164;
border-radius: 25px;
color: white;
border: none;
}

.saveButton:active {
  transform: translateY(4px);
}

.relatedCharacterSvg, .dateOfEvent{
  margin-left: 1.5px;
  margin-top: 3.5px;
}
.placeOnEart{
  margin-left: -7px;
  margin-top: 4px;
}
.eventDescription{
  margin-left: -11px;
  margin-top: 5px;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
